<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= siteName %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheet/style.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <div class="btn-group">
          <a href=<%=routes.home %> class="btn btn-default">
            <img src="http://g-bridge.kr/data/skin/default/images/da_image/hd_logo.png" height="40px;">
            <span class="hidden-xs ml-3">
              Mirim Learning Lab
            </span>
          </a>
        </div>
      </div>

    </nav>


  </header>
  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <div class="sidebar-header shadow d-flex justify-content-center">
        <h3 class="text-info m-auto">Lecture List</h3>
      </div>
      <div class="video__main">
        <% videos.forEach(function (video, index) { %>
        <div class="video__content ml-4 mt-3 shadow bg-info text-white">
          <a href=<%= routes.videoDetail(video.id) %> class="d-flex flex-column">
            <%= video.title %>
          </a>
        </div>
        <% }); %>
      </div>
    </nav>

    <div id="content">
      <div class="header__column">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info shadow">
              <i class="fas fa-align-left"></i>
              <span>Side Bar</span>
            </button>
            <a href="/quiz">
              <button type="button" id="sidebarCollapse" class="btn btn-info ml-4 shadow">
                <i class="fas fa-pen-square"></i>
                <span>Quiz</span>
              </button>
            </a>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <% if (teacher === true) {%>
                <li class="nav-item">
                  <a class="nav-link btn m-2 text-info shadow" href="/quiz<%= routes.uploadQuiz %>">
                    <%=quizUpload%>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn m-2 text-info shadow" href="/videos<%= routes.upload %>">
                    <%=videoUpload%>
                  </a>
                </li>
                <%}%>
                <li class="nav-item">
                  <a class="nav-link btn m-2 text-info shadow" href=<%= regurl %>>
                <%=reglabel%>
                </a>
                </li>
                <li>
                  <a class="nav-link btn m-2 text-info shadow" href=<%= logurl %>>
                    <%=loglabel%>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <script type="text/javascript">
        $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
          });
        });
      </script>