<!DOCTYPE html>
<%- include("./partials/header.ejs") %>
<div class="form-container">
    <form action=<%= routes.editQuestion(question.id) %> method="post">
        <input type="text" placeholder="Title" name="title" value=<%= question.title %> required=true>
        <textarea name="description" placeholder="Description"><%= question.description %></textarea>
        <div align="center"><input class="btn btn-primary" type="submit" value="Update Question"></div>
    </form>
</div>
<%- include("./partials/footer.ejs") %>