<!DOCTYPE html>
<%- include("./partials/header.ejs") %>
<div class="question__title">
    <h2 class="mb-5"><%= question.title %></h2>

    <div>
        <h5>name : <%= question.userName %> </h5>
    </div>
    <div align="right"><span>Date : <%= question.createdAt.toISOString().slice(0,10).replace(/-/g,"");  %></span></div>
    <div align="right">
        <% if (teacher === true || userId === questionUploaderId) {%>
        <div class="btn btn-outline-secondary hover"><a href=<%= routes.editQuestion(question.id) %>> Edit Question </a>
        </div>
        <div class="btn btn-outline-secondary hover"><a href=<%= routes.deleteQuestion(question.id) %>> Delete Question
            </a></div>
        <%}%>
    </div>
</div>

<hr>
<div class="question__description mb-5">
    <span><%= question.description %></span>
    </div>

    <div class="container-fluid">
        <form action=<%= routes.uploadComment(question.id) %> method="post">
            <img src=<%= userImage %> alt="Avater" width="50px" height="50px" style="border-radius:20px;">
            <span><%= userName %></span>
            <input type="text" placeholder="comment here" name="comment" required=true>
            <div align="center"><input type="submit" class="btn btn-primary" value="Upload comment"></div>
        </form>
        <hr>
        <% comments.forEach(function (comment, index) { %>

        <img src="/<%= comment.userImage %>" alt="Avater" width="50px" height="50px"
            style="border-radius:20px; margin-right:10px;">

        <span><%= comment.userName %></span>
        <div>
            <h5><%= comment.comment %></h5>
        </div>
        <div align="right">
            <% if (teacher === true || userId == comment.userId) {%>
            <a href=<%= routes.deleteComment(comment.id) %> class="comment__delete"> Delete Comment </a>
            <% }%>
        </div>
        <div align="right"><span><%= comment.createdAt.toISOString().slice(0,10).replace(/-/g,""); %></span></div>
        <hr>
        <% }); %>

        <%- include("./partials/footer.ejs") %>