<!DOCTYPE html>
<%- include("./partials/header.ejs") %>
<div class="video__main">
    
    <% videos.forEach(function (video, index) { %>
    <div class="mt-5 d-flex p-2">
        <video class="video__thumbnail block" style="width:300px; margin:0px;" src="/<%= video.fileUrl %>"
            controls=true>
        </video>
        <div class="video__content ml-4">
            <a href=<%= routes.videoDetail(video.id) %> class="d-flex flex-column">
                <h5 class=" video__title block"><%= video.title %></h5>
                <h6 class="video__views block"><small>조회수 <%= video.views %> |
                        <%= video.createdAt.toISOString().slice(0,10).replace(/-/g,"");  %></small></h6>
                <h6 class="video__views block"><small><%= video.description %></small> </h6>
            </a>
            <% if (teacher === true) {%>
            <div>
                <a href=<%= routes.deleteVideo(video.id) %> class="video__delete"> Delete Video </a>
            </div>
            <%}%>
        </div>
    </div>
    <% }); %>
        </div>


    <%- include("./partials/footer.ejs") %>