<!DOCTYPE html>
<%- include("./partials/header.ejs") %>
<div class="video__main">
    <% videos.forEach(function (video, index) { %>
    <div class="container mt-5">
        <video class="video__thumbnail" style="width:1000px;" src="/<%= video.fileUrl %>" controls=true>
        </video>
        <a href=<%= routes.videoDetail(video.id) %>>
            <h4 class="video__title"><%= video.title %></h4>
            <h6 class="video__views">Views : <%= video.views %></h6>
        </a>
        <a href=<%= routes.deleteVideo(video.id) %> class="video__delete"> Delete Video </a>
        <hr>
    </div>
    <% }); %>
    <% quizs.forEach(function (quiz, index) { %>
    <div class="quiz__container container mt-5">
        <a href=<%= routes.editQuiz(quiz.id) %>> Edit Quiz </a>
        <a href=<%= routes.deleteQuiz(quiz.id) %>> Delete Quiz </a>
        <h2 class="quiz__title"><%= quiz.question %></h2>
        <option class="quiz__question btn btn-info" value="1">1. <%= quiz.answerOne %></option>
        <option class="quiz__question btn btn-info" value="2">2. <%= quiz.answerTwo %></option>
        <option class="quiz__question btn btn-info" value="3">3. <%= quiz.answerThree %></option>
        <option class="quiz__question btn btn-info" value="4">4. <%= quiz.answerFour %></option>
        <div class="quiz__answer" style="display:none"><%= quiz.answerCheck %></div>
    </div>
    <% }); %>

    <button type="button" class="quiz__submit btn btn-danger mt-5">Submit</button>
</div>

<script>
    const quizContainer = document.querySelectorAll(".quiz__container");
    const quizQuestion = document.querySelectorAll(".quiz__question");
    const quizSubmit = document.querySelector(".quiz__submit");
    let answerCount = 0;
    let selectCount = 0;

    for (let i = 0; i < quizQuestion.length; i++) {
        quizQuestion[i].addEventListener("click", function (e) {
            const correctAnswer = e.target.parentNode.querySelector(".quiz__answer").textContent;
            const selectAnswer = e.target.value;

            if (correctAnswer === selectAnswer) {

                quizQuestion[i].classList.remove("btn-info");
                quizQuestion[i].classList.add("btn-primary");
                answerCount++;
                selectCount++;

                alert("ì •ë‹µìž…ë‹ˆë‹¤.");

            } else {

                quizQuestion[i].classList.remove("btn-info");
                quizQuestion[i].classList.add("btn-danger");
                selectCount++;

                alert("ì˜¤ë‹µìž…ë‹ˆë‹¤.");

            }

            const selectQuizParent = e.target.parentNode;
            for (let i = 0; i < selectQuizParent.childNodes.length; i++) {
                if (selectQuizParent.childNodes[i].className == "quiz__question btn btn-info")
                    selectQuizParent.childNodes[i].disabled = true;
            }

        })
    }

    quizSubmit.addEventListener("click", function () {
        if (selectCount == quizContainer.length) {
            const emoji = () => {
                if ((answerCount / quizContainer.length * 100) < 50)
                    return "ðŸ˜¥";
                else
                    return "ðŸ˜€";
            }
            alert(`${emoji()} ì´ ${quizContainer.length} ë¬¸ì œ ì¤‘ ${answerCount}ë¥¼ ë§žì¶”ì—ˆìŠµë‹ˆë‹¤.`);
        } else {
            alert("ë¬¸ì œë¥¼ ëª¨ë‘ í’€ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤.");
        }
    })

</script>
<%- include("./partials/footer.ejs") %>