<!DOCTYPE html>
<%- include("./partials/header.ejs") %>
<div class="quiz__main">
    <% quizs.forEach(function (quiz, index) { %>
    <div class="quiz__container container mt-5">
        <% if (teacher === true) {%>
        <a href=<%= routes.editQuiz(quiz.id) %> class="btn btn-secondary"> Edit Quiz </a>
        <a href=<%= routes.deleteQuiz(quiz.id) %> class="btn btn-secondary"> Delete Quiz </a>
        <%}%>
            <h5 class="quiz__title text-center text-info mt-3 mb-5"><b>#Q.<%= index+1 %> : <%= quiz.question %></b>
        </h5>

        <option class="quiz__question btn btn-outline-success container-fluid mb-2 text-left" value="1">1.
            <%= quiz.answerOne %>
        </option>
        <option class="quiz__question btn btn-outline-success container-fluid mb-2 text-left" value="2">2.
            <%= quiz.answerTwo %>
        </option>
        <option class="quiz__question btn btn-outline-success container-fluid mb-2 text-left" value="3">3.
            <%= quiz.answerThree %>
        </option>
        <option class="quiz__question btn btn-outline-success container-fluid mb-2 text-left" value="4">4.
            <%= quiz.answerFour %>
        </option>
        <div class="quiz__answer" style="display:none"><%= quiz.answerCheck %></div>
    </div>
    <% }); %>

    <div align="center"><button type="button" class="quiz__submit btn btn-danger mt-5">Submit</button></div>
</div>

<script>
    const quizContainer = document.querySelectorAll(".quiz__container");
    const quizQuestion = document.querySelectorAll(".quiz__question");
    const quizSubmit = document.querySelector(".quiz__submit");
    let answerCount = 0;
    let selectCount = 0;
    for (let i = 0; i < quizQuestion.length; i++) {
        quizQuestion[i].addEventListener("click", function (e) {
            const correctAnswer = e.target.parentNode.querySelector(".quiz__answer").textContent;
            const selectAnswer = e.target.value;
            if (correctAnswer === selectAnswer) {
                quizQuestion[i].classList.remove("btn-outline-success");
                quizQuestion[i].classList.add("btn-success");
                answerCount++;
                selectCount++;
                quizQuestion[i].disabled = true;
                alert("ì •ë‹µìž…ë‹ˆë‹¤.");
            } else {
                quizQuestion[i].classList.remove("btn-success");
                quizQuestion[i].classList.add("btn-outline-danger");
                selectCount++;
                quizQuestion[i].disabled = true;
                alert("ì˜¤ë‹µìž…ë‹ˆë‹¤.");
            }
            const selectQuizParent = e.target.parentNode;
            for (let i = 0; i < selectQuizParent.childNodes.length; i++) {
                if (selectQuizParent.childNodes[i].className == "quiz__question btn btn-outline-success container-fluid mb-2 text-left")
                    selectQuizParent.childNodes[i].disabled = true;
            }
        })
    }
    quizSubmit.addEventListener("click", function () {
        if (selectCount == quizContainer.length) {
            const emoji = () => {
                if ((answerCount / quizContainer.length * 100) < 50)
                    return "ðŸ˜¥";
                else
                    return "ðŸ˜€";
            }
            alert(`${emoji()} ì´ ${quizContainer.length} ë¬¸ì œ ì¤‘ ${answerCount} ë¬¸ì œë¥¼ ë§žì¶”ì—ˆìŠµë‹ˆë‹¤.`);
        } else {
            alert("ë¬¸ì œë¥¼ ëª¨ë‘ í’€ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤.");
        }
    })
</script>
<%- include("./partials/footer.ejs") %>